.ratingPage{

    .exitModal{
        position: fixed;
        top: 9vh;
        left: 50vw;
        transform: translate(-50%);
        height: 10vh;
        width: 10vh;
        cursor: pointer;

        .exitIcon{
            color:rgb(186, 186, 186);
            width: 100%;
            height: 100%;
        }
    }
    padding-top: 70px;
    background-color: var(--main-color);
    .headerInfo{
        background-color: rgb(20, 20, 20);
        height: 65vh;
        display: flex;
        justify-content: space-between;
        
        
        .trailer{
            width: 20%;
            position: relative;

            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-color: black;
                z-index: 99;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 30px;
                border: 2px solid gray;

                &:hover{
                    opacity: 0.9;
                }
            }
            

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }

            .playButton{
                position: absolute;
                width: 6vw;
                height: 6vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: black;
                opacity: 0.5;
                cursor: pointer;

            }
        }

        .mainInfo{
            width: 58%;
            
            background-color: rgb(31, 31, 31);
            display: flex;
            flex-direction: column;

            .title{
                height: 30%;
                
                display: flex;
                flex-direction: column;

                .movieTitleWrapper{
                    height: 70%;
                    background-color: rgb(42, 42, 42);

                    .movieTitle{
                        color: rgb(208, 208, 208);
                        margin-left: 15px;
                                 
                        height: 80%;
                        font-size: 2vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .genres{
                    height: 30%;
                    
                    background-color: rgb(55, 55, 55);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span{

                        color: rgb(172, 172, 172);
                        
                        margin-left: 10px;
                    }
                }
            }
            .overview{
                height: 50%;
                margin: 5px;
                color: #fff;

                h3{
                    margin-top: 0;
                }
                
            }
            .executive{
                height: 20%;
                margin: 5px;
                background-color: rgb(36, 36, 35);
            }
        }

        
    }

    .topCast{
        margin: 5vh;
        height: 60vh;
        background-color: var(--main-color);
        color: #fff;
        overflow: hidden;
        overflow-x: scroll;

        &::-webkit-scrollbar
        {
            width: 0.5em;
            height: 0.5em;
            background-color: #000000;
        }
        &::-webkit-scrollbar-track
        {
            
            border-radius: 10px;
            background-color: #000000;
        }

        &::-webkit-scrollbar-thumb
        {
            width: 20px;
            border-radius: 10px;
            background-color: #555;
        }
    }

    .fullCast{
        margin: 5vh;
        height: 10vh;
        color: white;
        background-color: var(--main-color);
        border-bottom: 2px white solid;
        cursor: pointer;

        h2{
            
            height: 5vh;
            border-left: 4px outset #d1d1d1;
            line-height: 5vh;
        }
    }

    .photos{
        margin: 5vh;
        height: 55vh;
        background-color: var(--main-color);
        color: #fff;
        overflow: hidden;
        overflow-x: scroll;

        &::-webkit-scrollbar
        {
            width: 0.5em;
            height: 0.5em;
            background-color: #000000;
        }
        &::-webkit-scrollbar-track
        {
            
            border-radius: 10px;
            background-color: #000000;
        }

        &::-webkit-scrollbar-thumb
        {
            width: 20px;
            border-radius: 10px;
            background-color: #555;
        }
    }


    .more{
        margin: 5vh;
        height: 55vh;
        background-color: var(--main-color);
        color: #fff;
        overflow: hidden;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar
        {
            width: 0.5em;
            height: 0.5em;
            background-color: #000000;
        }
        &::-webkit-scrollbar-track
        {
            
            border-radius: 10px;
            background-color: #000000;
        }

        &::-webkit-scrollbar-thumb
        {
            width: 20px;
            border-radius: 10px;
            background-color: #555;
        }
        .inform{
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                font-weight: bold;
                font-size: 2em;
            }
        }

    }


}
